@import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Sans);
body {font:1em 'Droid Sans', sans-serif; margin: 0 auto; max-width: 1800px; color: #333; line-height:1.5;background: #FFF; }
h1, h2 {margin: 0 0 .5em; font-weight: normal}
h1 {font:2em 'Oswald', sans-serif; margin: 20px 20px .5em; color:#3C7143;}
h2 {font-size: 1.5em; background:#fff;color:#3C7143;text-transform:uppercase; }
h2 a {float: right;}
a {text-decoration: none; }
.subtitle {margin-left: 20px;}
article {  margin: 0 10px;}
section { box-sizing: border-box; display: inline-block; vertical-align: top; width: 32%; margin:20px .5%; padding:0; border-radius:3px;background:#fff; word-wrap: break-word;}
section br:first-of-type {display: none;}
@media (max-width: 1000px) {
    section { display: block; width: 100%; margin: 30px 0; padding: 0 10px;}
}
